/* Media querries fro targeting different sizes of screen */

/* 1. Tablet styles (600px and more) */
@media screen and (min-width: 600px) {
  .navigation_container_menu {
    height: 32px;
  }
  .navigation_container_menu div {
    width: 40px;
    height: 4px;
  }
  .navigation_container_menu_toggle div:nth-child(1) {
    transform: translateY(14px) rotate(45deg);
  }
  .navigation_container_menu_toggle div:nth-child(3) {
    transform: translateY(-14px) rotate(-45deg);
  }
  .navigation_container_list {
    width: 100%;
  }

  .hero {
    flex-direction: column;
    gap: 0;
    padding: 0;
  }
  .hero_imgContainer,
  .about_container_imgContainer {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .hero_description_name {
    font-size: 3rem;
  }
  .hero_description_title {
    font-size: 1.75rem;
  }
  .about_title {
    font-size: 3rem;
  }
  .prices_container h3 {
    font-size: 1.25rem;
  }
  .prices_container_article {
    max-width: 35rem;
  }
  .reviews_slider {
    max-width: 35rem;
  }
  .footer_menu {
    flex-direction: row;
    min-height: 15dvh;
    font-size: 1.5rem;
  }
  :root {
    --footer-height: 26dvh;
  }
  #contact {
    max-width: 35rem;
    margin: auto;
  }
}

/* 1. Desktop styles (1200px and more) */
@media screen and (min-width: 1200px) {
  .section {
    margin: 0 10rem;
  }
  .navigation_name {
    font-size: 2rem;
  }
  /* Make the list horizontal instead of vertical */
  .navigation_container_list {
    display: flex;
    flex-direction: row;
    /* removing padding for proper desktop nav bar aligment */
    padding: 0;
    font-size: 1.5rem;
    background-color: transparent; /* Added from original */
    height: auto; /* Reset the 100% height */
    padding-bottom: 0; /* Reset the 5vh padding */
  }
  /* resetting some settings for desktop nav bar animation */
  /* I tried to make it responsive without new DIV and for this I need to reset some properties */
  .navigation_container_list_container {
    position: static;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    opacity: 1;
    pointer-events: auto;
  }

  /* Not to show X button */
  .navigation_container_menu {
    display: none;
  }
  .hero {
    display: flex;
    flex-direction: row;
    gap: 4rem;
  }
  .hero_imgContainer,
  .about_container_imgContainer {
    width: 400px;
    height: 400px;
    margin: auto 0;
  }
  .about_container {
    display: flex;
    flex-direction: row;
    gap: 5rem;
  }
  .hero_img,
  .about_container_imgContainer_img {
    max-width: none;
  }
}
